

body{
    background-color: rgb(46, 103, 105);
    text-align: center;
}
button{
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    background-color: cyan;
    color: darkblue;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}
img {
    width: 200px;
    height:200px;
    margin: 2px 0;
}
